USE [MedExamSys]
GO
CREATE OR ALTER TRIGGER Insert_prot_concl
ON Protocol
AFTER INSERT, UPDATE
AS
BEGIN
    DECLARE @new_prot_id INT,
			@emp_fname CHAR(30),
			@emp_name CHAR(30),
			@emp_surname CHAR(30)
	SELECT @new_prot_id = inserted.prot_num FROM inserted
	SELECT @emp_fname = (SELECT emp_fname FROM Employee AS e, MedCheckup AS m
							WHERE e.emp_id = m.emp_id AND m.check_id = @new_prot_id)
	SELECT @emp_name = (SELECT emp_name FROM Employee AS e, MedCheckup AS m
							WHERE e.emp_id = m.emp_id AND m.check_id = @new_prot_id)
	SELECT @emp_surname = (SELECT emp_surname FROM Employee AS e, MedCheckup AS m
							WHERE e.emp_id = m.emp_id AND m.check_id = @new_prot_id)
    EXEC Select_res_for_emp @emp_fname, @emp_name, @emp_surname, 1
END